body {
  font-family: sans-serif;
  color: #333;
  padding: 1em 2em;
}

p, pre {
  margin: 1em;
}

a {
  color: #f05;
  text-decoration: none;
}

a.disabled {
  color: #666;
}

#countdown {
  font-style: italic;
  margin: 2em;
}

