doctype html
html
  head
    title Form Submitted
    link rel='stylesheet' href='style.css'
  body
    h1 Form Submitted
    p You will be redirected back to the referring page.

    p
      | You can 
      a href==@referer return there immediately
      |  or
      a id='stay_here' href='#'  stay here.

    h2 Submission Summary

    pre
      ==@body

    script src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'
    script src='app.js'
